!!!
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')

  body!= body


  script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
